module "ec2_auto_stop-before_weekend" {
  source             = "./module-template"
  prefix             = "${var.prefix}"
  iam_for_lambda_arn = "${var.iam_for_lambda_arn}"

  # ↓ ここから設定 ↓
  name             = "stop_weekend"
  target_instances = "i-xxxxxxxxxxxxxxxxx, i-yyyyyyyyyyyyyyyyy"

  schedule_name       = "every_day_23-55am_JST"
  schedule_expression = "cron(55 14 * * ? *)"

  # 祝日追加
  additional_holidays = "12/30-31 1/1-3"
}
